{% extends "ballot_base.html" %}

{% block title %}{{ block.super }} Precinct Ballot{% endblock title %}

{% block content %}
<h1>Precinct Ballot</h1>
{% regroup object_list by race.office.district as district_list %}
{% for d in district_list %}
<h2>District: {{ d.grouper.name }}</h2>
{% regroup d.list by race.office as office_list %}
{% for o in office_list %}
<h3>Office: {{ o.grouper.name }}</h3>
{% for c in o.list %}
<p>{{ c.name }}</p>
{% endfor %}
{% endfor %}
{% endfor %}
{% endblock content %}

