/* Ballot App CSS */

body {
	background-color: #fffcfc;
}

/* Navbar styles */

#app-navbar {
	background-color: #2c5e38;
	color: #f4edc4;	
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus  {
	color: #f4edc4;
}

/* end of Navbar styles */

#content {
	background-color: #f4edc4;
}

#contentfooter {
	background-color: #2c5e38;
	color: #f4edc4;
}

button {
	background-color: #2c5e38;
	color: #f4edc4;
}